@import 'src/assets/styles/variables/colors';

:root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: $grey-2;
  width: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}
